* {
  box-sizing: border-box;
}

body{
  margin: 0;
  background: #6b4e3a;
  font-family: "Work Sans", sans-serif;
  font-weight: 300;
  position: relative;
}

.container {
  width: 80%;
  margin: 0 auto;
}

header {
  position: fixed;
  top:0;
  left: 20;
/*  width: 90%;*/
  width: 100%;
  padding: 20px 100px;
  background: #7c6150;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 70;
}

.logo {
  font-size: 32px;
  color: #fff;
  text-decoration: none;
  font-weight: 700;
}

.navbar a{
  font-size: 18px;
  color: #fff;
  font-weight: 500;
  text-decoration: none;
  margin-left: 40px;
}

.information{
  margin-top: 1%;
  padding: 20px 100px;
/*  max-width: 600px;*/
  /* This padding and the max-width is squeezing the 'Plates are lies' text into one column */
/*  padding: 40px 1000px;*/
}

.information h1{
  font-size: 70px;
  color: #fff;
}

.information p{
  color: #fff;
  animation-delay: 0.5s;
}




